:root {
  --accent-color: #2196f3;
  --main-font: "Roboto", sans-serif;
  --title-color: black;
  --text-color: #757575;
  --hero-title-color: white;
  --hero-background-color: #2f303a;
  --portfolio-btn-color: #212121;
  --portfolio-btn-bakground: #f5f4fa;
}
body {
  font-family: var(--main-font);
  color: var(--title-color);
  line-height: 1;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* HEDER */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--accent-color);
}
.footer-studio {
  color: var(--hero-title-color);
}
.heder-studio {
  color: var(--hero-background-color);
}
.tel-link {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
.menu-link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  vertical-align: Top;
  letter-spacing: 2%;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.modal-btn {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--accent-color);
  color: var(--hero-title-color);
  cursor: pointer;
}
/* HERO */
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}
.hero-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
}
.suptitle {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.description {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.team-suptitle {
  font-weight: 500;
  font-size: 16px;
}
.team-description {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.hero-background {
  background-color: var(--hero-background-color);
}
.footer {
  background-color: var(--hero-background-color);
}
.footer-link {
  color: var(--hero-title-color);
}
.contacts {
  color: #ffffff99;
}
address {
  font-style: normal;
  line-height: 1.5;
}
.portfolio-btn {
  color: var(--portfolio-btn-color);
  background-color: var(--portfolio-btn-bakground);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}
